---
title: Home
layout: home
navbar_title: Home
---
<br />
<h3>MathMakesArt is the name of this website, and it is also the pseudonym which I use for my NFT-related activities.</h3>
<p>I am a programmer and digital artist who is minting, selling, and collecting NFTs.
<br />
I primarily operate on the Tezos blockchain, specifically on Hic Et Nunc, but I am also working on a project for the Art Blocks platform on Ethereum.</p>
<br />
{% include info-primary.html %}
<br />
{% include info-secondary.html %}
<br />
{% include info-unlisted.html %}
<br />
<img src="media/preview-6340.png" style="display:block;margin-left:auto;margin-right:auto;"></img>
<br />
